<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acpi.mls.missionlunarspace">

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FormulaireSatisfactionActivity" />
        <activity android:name=".ChoixClasseActivity" />
        <activity android:name=".ChoixGroupeActivity" />
        <activity android:name=".ChoixPersoActivity" />
        <activity android:name=".EtudiantActivity" />
        <activity android:name=".EnseignantActivity" />
        <activity android:name=".SelectionEtudiantEnseignant" />
        <activity android:name=".ScoreFinalActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DenonciationActivity"></activity>
    </application>

</manifest>